
@font-face {
  font-family: "C64";
  src: url("../fonts/C64/fonts/C64_Pro-STYLE.woff") format("woff");
}

@font-face {
  font-family: "C64_PIX";
  src: url("../fonts/commodore_64_pixelized/Commodore_Pixelized_v1.2.ttf");
}

@font-face {
  font-family: "basis33";
  src: url("../fonts/basis33/basis33.ttf");
}
  
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

html {
    background-color: #000 !important;
}

body {
    width: 100%;
    height: 100%;
    font-family: "basis33", monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: none;
}

input, select, textarea, button {
    font-family:inherit;
}

#app-container {
    opacity: 0;
    display: none;
}

#login-container {
    position: relative;
    top: 0px;
    left: 20px;
    opacity: 1;
}

#login-username {
    position: relative;
}

#login-input {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    min-width: 100px;
    min-height: 10px;
    padding: 0.2em;
    text-align: left;
    font-size: 16px;
}

#login-input:focus {
    outline: none;
}

#login-enter {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    min-width: 100px;
    min-height: 10px;
    padding: 0.2em;
    text-align: center;
    font-size: 16px;
}

#login-enter:hover {
    cursor: pointer;
    color: #ddd;
}

#login-enter:focus {
    outline: none;
}

.hide {
    display: none;
  }
  
.fade-in {
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Position the button VR on the bottom of the page. */
#ui {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Karla', sans-serif;
    z-index: 1;
}

a#magic-window {
    display: block;
    color: white;
    margin-top: 1em;
}

/* CUSTOM STYLE */

#banner-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    background-color: #000;
    border-bottom: 1px solid #fff
}

#banner-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    background-color: #000;
    border-top: 1px solid #fff;
}

#stats {
    position: absolute;
    top: 0px;
    left: 34%;
    z-index: 1;
}

#gui {    
    position: absolute;
    top: 0px;
    left: 42%;
    z-index: 1;
}

#webglRendererDebug {
    width: 320px;
    height: 240px;
    position: absolute;
    bottom: 200px;
    right: 10px;
}

#terminal-title {
    position: absolute;
    top: 120px;
    left: 10px;
    background-color: rgba(0,0,0,0.8);
    font-size: 16px;
    border: 1px solid;
    width: 296px;
    height: 17px;
    padding-top: 2px;
    padding-left: 2px;
}

#log-title {
    position: absolute;
    bottom: 311px;
    left: 10px;
    background-color: rgba(0,0,0,0.8);
    font-size: 16px;
    border: 1px solid;
    width: 296px;
    height: 17px;
    padding-top: 2px;
    padding-left: 2px;
}

#logger-container{
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 293px;
    height: 200px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 1;
    overflow: hidden;
}

#logger{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow: hidden;
    /* overflow-y: scroll; */
    width: 296px;
    padding: 10px;
}

#audio-log-title {
    position: absolute;
    top: 120px;
    right: 10px;
    background-color: rgba(0,0,0,0.8);
    font-size: 16px;
    border: 1px solid;
    width: 296px;
    height: 17px;
    padding-top: 2px;
    padding-left: 2px;
}

#audio-logger{
    position: absolute;
    top: 145px;
    right: 10px;
    width: 293px;
    height: 25vh;
    max-height: 200px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 1;
    overflow: hidden;
}

#audio-logger-data{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
    width: 296px;
    padding: 10px;
}